<div class="card">
  <div class="card-header">
    New Recipe
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="recipeName">Recipe Name</label>
      </div>
      <input type="text" class="form-control" id="txtRecipeName" placeholder="Recipe Name">
      <div class="form-group">
        <label for="category">Category</label>

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" 
            id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Select category
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" *ngFor="let category of categories">{{category.name}}</a>
            <a class="dropdown-item" onclick="open(content)"><i> Add new category..</i></a>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer"></div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form> -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
<script>

</script>