<div class='card' *ngIf='recipe'>
  <div class='card-header'>
    {{recipe.recipeName}}
  </div>
  <div class="card-body">
    <div class="row">
      <div class='col-md-8'>
        <div class="row">
          <div class="col-md-4">Name:</div>
          <div class="col-md-8">{{recipe.recipeName}}</div>
        </div>
        <div class="row">
          <div class="col-md-4">Something: </div>
          <div class="col-md-8">Something description</div>
        </div>
      </div>
      <div class="col-md-4">
        <img class="center-block img-responsive" [src] = 'recipe.recipeUrl'>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-outline-secondary"
    (click)='onBack()'>
  <i class="fa fa-chevron-left">Back</i>
  </button>
  </div>
</div>